.ContainerTareasPage{
    text-align: center;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction:column;
    padding: 0 2rem;
}


@media (max-width:768px ) {
    .ContainerTareasPage{
    
        padding: 2.5rem;
    }
}