:root {
    --Color1: #0B132B;
    --Color2: #1C2541;
    --Color2_5:#323D5F;
    --Color3: #3A506B;
    --Color4: #3E6585;
    --Color5: #A8C0DE;
    --Color6: #D9D9D9;
    --VerdeFuerte: #2D750C;
    --VerClaro: #40A611;
    --Rojo:rgba(142, 41, 41, 1);
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.ContainerPerfil {
    display: flex;
    background-color: var(--Color2);
    width: 70rem;
    height: 40rem;
    box-shadow: 0px 4px 40px 10px rgb(0 0 0 / 90%);
    border-radius: 2.5rem;
    flex-direction: column;
    align-items: center;

}

.ContainerPerfil form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.BoxPerfil {
    height: 10%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.PerfilText {
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
    font-size: 4.5rem;
}

.DataPerfilBox {
    /* height: 80%; */
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.DataPerfilBox label {
    font-weight: bold;
    font-size: 3rem;
    color: whitesmoke;
}

.InpStyle {
    width: 100%;
    box-shadow: 0px 0px 20px 10px #000000;
    border-radius: 10px;
    height: 3.5rem;
    background-color: var(--Color6);
    margin: 2rem 0 2rem 0;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    border: none;
}

.InpSubmit {
    height: 6rem;
    width: 12rem;
    background-color: var(--VerdeFuerte);
    transition: all 0.5s;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-right: 0.5rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

.TextoPerfil {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 5rem;
}