.Container_NavBarChats{
    background-color: var(--Color2_5);
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Container_ChatsButtons{
    height: 90%;
    overflow: auto;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    align-items: stretch;
    flex-wrap: wrap;
    align-content: flex-start;
}

.Container_Button{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 10%;
    justify-content: center;
    align-items: center;

}

.Button_Nav{
    height: 50%;
    width: 70%;
    border-radius: 1.5rem;
    border: none;
    background-color: var(--Color5);
    cursor: pointer;
    color: var(--Color6);
    font-family: 'Poppins', sans-serif;
    font-size: 0.75vw;
    color: var(--Color6);
    font-weight:bold;
    transition: all 0.4s;
}
.Button_Nav:hover{
    background-color: var(--Color6);
    color: var(--Color1);
}
.modal{
    display: flex;
    
}
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(62, 101, 133, 0.74);
    
}

.modal_content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: var(--Color3);
    padding: 14px 28px;
    display: flex;
    width: 25%;
    height: 40%;
    box-shadow: 0px 4px 47px 10px #000000;
    border-radius: 30px;
    flex-direction: column;
    align-items: center;
}

.Form_Modal{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;

}
.Form_Modal .Button_Nav{
    height: 20%;
}

.Form_Modal label{
    font-weight: bold;
    font-size: 1.2vw;
    color: whitesmoke;
}

.Form_Modal label:hover{
    background: none;
}

.Container_CancelModal {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    height: 14%;
}

.Container_CancelModal .Button_Cancel{

    
    width: 8%;
    height: 100%;
    background-size: 100% 100%;
    cursor: pointer;
    transition: all 0.4s;
    border-radius: 0.5rem;
    border: none;
    background-color: var(--Rojo);
}


